{% extends "base.html" %}
{% block title %}Newsletter list - {{ SITE_LONG_NAME }}{% endblock %}
{% block content_title %}Newsletter list{% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <form method="POST" action="" class="form-area">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="ind-table ind-table-md">
                <tr class="ind-tr-border">
                    <th class="ind-th">Newsletter</th>
                    <th class="ind-th">Subscribe</th>
                </tr>
                {% for form in formset.forms %}
                    <tr class="ind-tr-hover">
                        <td class="ind-td">{{ form.id }}{{ form.newsletter }}
                            <a href="{{ url('newsletter_archive', form.instance.newsletter.slug) }}">
                                {{ form.instance.newsletter.title }}</a>
                        </td>
                        <td class="ind-td">{{ form.subscribed }}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <p>
                <input id="id_submit" name="submit" value="Update subscriptions" type="submit" class="ind-btn-primary">
            </p>
        </form>
    {% else %}
        <table class="form-area ind-table ind-table-md">
            <tr class="ind-tr-border">
                <th class="ind-th">Newsletter</th>
            </tr>
            {% for newsletter in object_list %}
                <tr class="ind-tr-hover">
                    <td class="ind-td"><a href="{{ url('newsletter_detail', newsletter.slug) }}">{{ newsletter.title }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}