{% extends "base.html" %}

{% block title %}Newsletter {{ newsletter.title }} {{ action }} activate{% endblock %}

{% block body %}
    <h1>Newsletter {{ newsletter.title }} {{ action }} activate</h1>
    <form enctype="multipart/form-data" method="post" action=".">
        {% csrf_token %}
        {{ form.as_p() }}
        <p><input id="id_submit" name="submit" type="submit" value="Activate" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn"></p>
    </form>
{% endblock %}