<script src="{{ static('libs/tablesorter.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $("#judge-status");
        table.tablesorter();

        var tooltip_classes = 'tooltipped tooltipped-w';
        var active_judge = null;
        var active_lang = null;

        function display_tooltip(where) {
            where.addClass(tooltip_classes).attr('aria-label', where.attr('data-runtime-info'));
        }

        function install_tooltips() {
            $('.runtime-tag').each(function () {
                var tag = $(this);
                tag.mouseenter(function (e) {
                    active_judge = tag.attr('data-judge');
                    active_lang = tag.attr('data-lang');
                    display_tooltip(tag);
                }).mouseleave(function (e) {
                    active_judge = active_lang = null;
                    tag.removeClass(tooltip_classes).removeAttr('aria-label');
                });
            });
        }

        function install_expand_collapse() {
            $('.judge-row').off('click').on('click', function () {
                var judgeId = $(this).data('judge-id');
                var detailsRow = $('#judge-details-' + judgeId);
                
                $('.judge-details.expanded').not(detailsRow).removeClass('expanded');
                detailsRow.toggleClass('expanded');
            });
        }

        install_tooltips();
        install_expand_collapse();
    });
</script>
