{% extends "user/users-table.html" %}

{% block before_point_head %}
    {% if is_admin %}
        <th class="header"></th>
    {% endif %}
{% endblock %}

{% block before_point %}
    {% if is_admin %}
        <td>
            <form action="{{ kick_url }}" method="POST" class="kick-form">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.id }}">
                <button  class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Kick') }}</button>
            </form>
        </td>
    {% endif %}
{% endblock %}

{% block personal_info_data scoped %}{% endblock %}
