[submodule "resources/libs"]
	path = resources/libs
	url = https://github.com/DMOJ/site-assets.git
	branch = master
[submodule "resources/freateoj"]
	path = resources/freateoj
	url = https://github.com/freatevietnam/freateoj-static.git
