{% extends "base.html" %}
{% block body %}
    {% if email_verification_enabled %}
        <p>{{ _('Your account has been created successfully!') }}</p>
        <p>{{ _('A verification email has been sent to your email address.') }}</p>
        <p>{{ _('Please check your email and enter the verification code to activate your account.') }}</p>
        <p>{{ _('If you didn\'t receive the email, check your spam folder or contact the administrator.') }}</p>
        <br>
        {% if completed_username %}
            <button onclick="window.location.href='{{ url('registration_verify_otp', completed_username) }}'" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Verify Email Now') }}</button>
            <button onclick="window.location.href='{{ url('registration_resend_verification') }}'" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Resend Verification Email') }}</button>
        {% else %}
            <p><a href="{{ url('registration_resend_verification') }}">{{ _('Resend verification email') }}</a></p>
        {% endif %}
    {% else %}
        <p>{{ _('Your account has been created successfully!') }}</p>
        <p>{{ _('You can now log in with your credentials.') }}</p>
        <br>
        <button onclick="window.location.href='{{ url('auth_login') }}'" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Log In') }}</button>
    {% endif %}
{% endblock %}
