{% extends "base.html" %}

{% block media %}
{% endblock %}

{% block body %}
    <form id="access-code-form" action="" method="post" class="form-area ind-flex-center">
        {% csrf_token %}
        <h2 class="ind-mb-12" style="text-align:center;">{{_('Contest')}}: {{ contest.name }}</h2>
        {% if needs_terms %}
            <div id="contest-terms">
                {{ contest.terms|markdown('contest', MATH_ENGINE)|reference|str|safe }}
                <div class="terms-agree">
                    <label>
                        {{ form.terms_agreed }}
                        {{ form.terms_agreed.label }}
                    </label>
                    {% if form.terms_agreed.errors %}
                    <div id="form-errors">
                        <p class="error">{{ form.terms_agreed.errors.0 }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if needs_access_code %}
            {% if form.access_code.errors %}
                <div id="form-errors">
                    <p class="error">{{ form.access_code.errors.0 }}</p>
                </div>
            {% endif %}
            <p>{{ _('Please enter your access code:') }}</p>
            <p>{{ form.access_code }}</p>
        {% endif %}
        <p class="ind-flex-end">
            <button type="submit">{{ _('Join Contest') }}</button>
        </p>
    </form>
{% endblock %}
