$gradient_start: #FF6B00;
$gradient_end: #FF8C33;
$gradient_css: linear-gradient(135deg, $gradient_start, $gradient_end);
$highlight_blue: $gradient_start;
$announcement_red: #ae0000;

$base_font_size: 15px;
$widget_border_radius: 4px;

$table_header_rounding: 6px;

$code-font: 'JetBrains Mono', 'Fira Code', Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
