{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
    <script>
        django.jQuery(function ($) {
            $('.profilelink').appendTo('div#bottombar').show();
            $('.createprofilelink').appendTo('div#bottombar').show();
        });
    </script>
{% endblock extrahead %}

{% block after_field_sets %}{{ block.super }}
    {% if original.profile_id %}
        <button style="display: none" title="{% trans "Edit profile" %}" onclick="window.location.href='{% url 'admin:judge_profile_change' original.profile.pk %}'"
           class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn profilelink">
            <i class="fa fa-lg fa-user-plus"></i>
            <span class="text">{% trans "Edit profile" %}</span>
        </a>
    {% else %}
        <button style="display: none" title="{% trans "Create profile" %}" onclick="window.location.href='{% url 'create_profile' original.pk %}'"
           class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn createprofilelink">
            <i class="fa fa-lg fa-user-plus"></i>
            <span class="text">{% trans "Create profile" %}</span>
        </a>
    {% endif %}
{% endblock %}
