{% extends "common-content.html" %}

{% block media %}
    <link rel="stylesheet" href="{{ static('libs/nouislider.min.css') }}">
{% endblock %}

{% block js_media %}
    <script>
        window.point_start = {{point_start}};
        window.point_end = {{point_end}};
        window.point_values = {{point_values|json|safe}};
    </script>
    {% compress js %}
        <script src="{{ static('libs/nouislider.min.js') }}" type="text/javascript"></script>
        <script>
            $(function () {
                // Search button
                $('#go').click(function (e) {
                    e.preventDefault();
                    var query = $('#search').val();
                    window.location.href = '{{ url("problem_list") }}?search=' + encodeURIComponent(query);
                });

                // Enter key to search
                $('#search').keypress(function (e) {
                    if (e.keyCode == 13) {
                        e.preventDefault();
                        $('#go').click();
                    }
                });

                // Random button
                $('#random').click(function (e) {
                    e.preventDefault();
                    window.open('{{ url("problem_random") }}', '_blank');
                });
            });
        </script>
    {% endcompress %}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
{% endblock %}

{% block body %}
    <header class="users-header brutalist-border">
        <div class="ind-flex-between">
            <h1 class="page-title">{{ _('Bài tập') }}</h1>
            <form class="problem-search-bar" action="" method="get" style="display:flex;gap:4px;">
                <input id="search" type="text" name="search" value="{{ search_query or '' }}"
                       placeholder="{{ _('Tìm theo tên, mã, dạng đề, nguồn...') }}" class="ind-input">
                <a href="javascript:void(0)" id="go" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Tìm kiếm') }}</a>
                <a href="javascript:void(0)" id="random" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Ngẫu nhiên') }}</a>
            </form>
        </div>
        <hr class="brutalist-divider ind-divider-top">
        <div class="page-stats">
            {{ _('Total: %(count)s problems', count=page_obj.unfiltered_queryset.count()) }}
        </div>
    </header>

    {% if request.user.has_perm('judge.add_problem') %}
        <div style="margin: 16px 0;">
            <a href="{{ url('problem_create') }}" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">
                <i class="fa fa-plus"></i> {{ _('Tạo bài tập') }}
            </a>
        </div>
    {% endif %}

    {# Problem Table #}
    <div id="common-content">
        <div id="content-left" class="problems h-scrollable-table">
            <div class="ind-table-wrap">
            <table id="problem-table" class="ind-table ind-table-md">
                <thead>
                <tr class="ind-tr-border">
                    {% if request.user.is_authenticated %}
                        <th class="solved ind-th ind-th-center">
                            <a href="{{ sort_links.solved }}">
                                <i class="fa fa-check"></i>{{ sort_order.solved }}
                            </a>
                        </th>
                    {% endif %}
                    <th class="problem-code ind-th">
                        <a href="{{ sort_links.code }}">{{ _('ID') }}{{ sort_order.code}}</a>
                    </th>
                    <th class="problem-name ind-th">
                        <a href="{{ sort_links.name }}">{{ _('Bài tập') }}{{ sort_order.name }}</a>
                    </th>
                    <th class="category ind-th">
                        <a href="{{ sort_links.group }}">{{ _('Danh mục') }}{{ sort_order.group }}</a>
                    </th>
                    <th class="points ind-th ind-th-right">
                        <a href="{{ sort_links.points }}">{{ _('Điểm') }}{{ sort_order.points }}</a>
                    </th>
                    <th class="ac-rate ind-th ind-th-right">
                        <a href="{{ sort_links.ac_rate }}">{{ _('%% AC') }}{{ sort_order.ac_rate }}</a>
                    </th>
                    <th class="users ind-th ind-th-right">
                        <a href="{{ sort_links.user_count }}">{{ _('# AC') }}{{ sort_order.user_count }}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for problem in problems %}
                    <tr class="ind-tr-hover">
                        {% if request.user.is_authenticated %}
                            {% if problem.id in completed_problem_ids %}
                                <td class="solved ind-td ind-td-center" solved="1">
                                    <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                                        {% if problem.is_public %}
                                            <i class="solved-problem-color fa fa-check-circle"></i>
                                        {% else %}
                                            <i class="solved-problem-color fa fa-lock"></i>
                                        {% endif %}
                                    </a>
                                </td>
                            {% elif problem.id in attempted_problems %}
                                <td class="solved ind-td ind-td-center" solved="0">
                                    <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                                        {% if problem.is_public %}
                                            <i class="attempted-problem-color fa fa-frown-o"></i>
                                        {% else %}
                                            <i class="attempted-problem-color fa fa-lock"></i>
                                        {% endif %}
                                    </a>
                                </td>
                            {% else %}
                                <td class="solved ind-td ind-td-center" solved="-1">
                                    {% if problem.is_public %}
                                        <i class="unsolved-problem-color fa"></i>
                                    {% else %}
                                        <i class="unsolved-problem-color fa fa-lock"></i>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                        <td class="problem-code ind-td">
                            <a href="{{ url('problem_detail', problem.code) }}">{{ problem.code}}</a>
                        </td>
                        <td class="problem-name ind-td">
                            <a href="{{ url('problem_detail', problem.code) }}">{{ problem.i18n_name or problem.name }}</a>
                        </td>
                        <td class="category ind-td ind-td-muted">{{ problem.group.full_name }}</td>
                        <td class="p ind-td ind-td-right ind-td-text">{{ problem.points|floatformat(2) }}</td>
                        <td class="ac-rate ind-td ind-td-right ind-td-muted">{{ problem.ac_rate|floatformat(1) }}%</td>
                        <td class="users ind-td ind-td-right ind-td-text">
                            <a href="{{ url('ranked_submissions', problem.code) }}">
                                {{ problem.user_count }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    {% if page_obj.has_other_pages() %}
        <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}
{% endblock %}
