<div class="blog-sidebox sidebox">
    <h3>{{ _('Top contributors') }} <i class="fa fa-trophy"></i></h3>
    <div class="sidebox-content" style="padding: unset; border: unset;">
        <div class="ind-table-wrap">
        <table class="ind-table ind-table-md" style="margin-bottom: unset;">
            <thead>
                <tr class="ind-tr-border">
                    <th class="ind-th header rank" style="border-top-left-radius: unset; padding: 4px 9px 4px 9px;"> # </th>
                    <th class="ind-th header username">{{ _('Username') }}</th>
                    <th class="ind-th header contrib" style="border-top-right-radius: unset;"> {{ _('Contrib.') }} </th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_contrib %}
                    <tr id="user-{{ loop.index }}" class="ind-tr-hover">
                        <td class="ind-td">{{ loop.index }}</td>
                        <td class="ind-td user-name">
                            <div style="float:left">
                                {{ link_user(user) }}
                            </div>
                        </td>

                        <td class="ind-td user-contrib">
                            {{ user.contribution_points }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
</div>
