{% macro make_tab(name, fa, url, text) %}
    <li class="tab{% if tab == name %} active{% endif %}">
        {%- if url %}<a href="{{ url }}">{% else %}<span>{% endif -%}
        <i class="tab-icon fa {{ fa }}"></i> {{ text }}
        {%- if url %}</a>{% else %}</span>{% endif -%}
    </li>
{% endmacro %}

{% if not left_align_tabs %}
    <h2 class="tab-title">{{ content_title or title }}</h2>
{% endif %}
{% block post_tab_spacer %}{% endblock %}
<ul class="user-list-tabs">
    {% block tabs %}{% endblock %}
</ul>