{% extends "base.html" %}

{% block body %}
    <div class="ind-table-wrap">
    <table class="ind-table ind-table-md">
        <tbody>
            <tr class="ind-tr-hover">
                <th class="ind-th" style="width: 30%;">{{ _('User:') }}</th>
                <td class="ind-td">{{ link_user(object.user) }}</td>
            </tr>
            <tr class="ind-tr-hover">
                <th class="ind-th">{{ _('Organization:') }}</th>
                <td class="ind-td">
                    {% with org=object.organization %}
                        <a href="{{ org.get_absolute_url() }}">{{ org.name }}</a>
                    {% endwith %}
                </td>
            </tr>
            <tr class="ind-tr-hover">
                <th class="ind-th">{{ _('Time:') }}</th>
                <td class="ind-td">{{ object.time|date(_("N j, Y, g:i a")) }}</td>
            </tr>
            <tr class="ind-tr-hover">
                <th class="ind-th">{{ _('State:') }}</th>
                <td class="ind-td">{{ object.get_state_display() }}</td>
            </tr>
            <tr class="ind-tr-hover">
                <th class="ind-th">{{ _('Reason:') }}</th>
                <td class="ind-td">{{ object.reason|linebreaks }}</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}