<h2 style="text-align: center">{{ _('Votes') }}</h2>
<div class="ind-table-wrap">
<table class="ind-table ind-table-md">
    <thead>
    <tr class="ind-tr-border">
        <th class="ind-th">{{ _('Voter') }}</th>
        <th class="ind-th ind-th-right">{{ _('Score') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for vote in votes %}
        <tr class="ind-tr-hover">
            <td class="ind-td">{{ link_user(vote.voter) }}</td>
            <td class="ind-td ind-td-right ind-td-text">{{ vote.score }}</td>
        </tr>
    {% else %}
        <tr class="ind-tr-hover">
            <td class="ind-td" colspan="2">{{ _('No votes') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
