<section class="brutalist-panel brutalist-border ind-panel">
    <header class="ind-panel-header">{{ _('Rankings') }}</header>
    <div class="panel-content ind-panel-content">
        {% set total_users = total_users or 1 %}
        {% set global_percentile = ((total_users - rank) / total_users * 100)|round(0) %}
        <div class="ind-flex-row ind-mb-8">
            <span class="data-label ind-label-fixed">{{ _('Global') }}</span>
            <span class="data-value ind-value-right">#{{ rank }}</span>
            <div class="ind-bar-track">
                <div class="ind-bar-orange" style="width:{{ global_percentile }}%;"></div>
            </div>
            <span class="data-value ind-value-xs">{{ global_percentile }}th %ile</span>
        </div>
        {% if profile_country_rank is defined %}
        <div class="ind-flex-row ind-mb-8">
            <span class="data-label ind-label-fixed">{{ _('Country') }}</span>
            <span class="data-value ind-value-right">#{{ profile_country_rank }}</span>
            <div class="ind-bar-track">
                <div class="ind-bar-gray" style="width:{{ ((country_total or 1) - profile_country_rank) / (country_total or 1) * 100 }}%;"></div>
            </div>
            <span class="data-value ind-value-xs">{{ (((country_total or 1) - profile_country_rank) / (country_total or 1) * 100)|round(0) }}th %ile</span>
        </div>
        {% endif %}
        {% if rating_rank is defined %}
        <div class="ind-flex-row">
            <span class="data-label ind-label-fixed">{{ _('Contest') }}</span>
            <span class="data-value ind-value-right">#{{ rating_rank }}</span>
            <div class="ind-bar-track">
                <div class="ind-bar-green" style="width:{{ ((total_users - rating_rank|int) / total_users * 100)|round(0) }}%;"></div>
            </div>
            <span class="data-value ind-value-xs">{{ ((total_users - rating_rank|int) / total_users * 100)|round(0) }}th %ile</span>
        </div>
        {% endif %}
    </div>
</section>
