<section class="brutalist-panel brutalist-border ind-panel" id="rating-chart-panel">
    <header class="ind-panel-header">{{ _('Rating History') }}</header>
    <div class="panel-content ind-panel-content ind-panel-content-tall">
        <canvas id="rating-chart-canvas" width="800" height="360"></canvas>
        <div id="rating-tooltip" class="ind-tooltip">
            <div class="contest"></div>
            <div class="date data-label"></div>
            <div class="rate-group"><span class="rating"></span> #<span class="rank"></span></div>
        </div>
    </div>
</section>
