{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
{% endblock %}

{% block media %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{ static('ui_form.css') }}">
{% endblock %}

{% block body %}
<div>
    <form action="" method="post" class="form-area" style="display: flex; justify-content: center; flex-direction: column;">
        {% if form.errors or form.non_field_errors() %}
            <p class="errornote"> {{ _('Please correct the error below.') }}</p>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <p class="errornote">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <table class="ind-table ind-table-md">
            <tr><td style="float: left;">
            <td style="float: right;"><input type="submit" value="{{ _('Add User') }}" class="button"></td></tr>
        </table>
    </form>
</div>
{% endblock %}