{% extends "base.html" %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="{{ static('ui_form.css') }}">
{% endblock %}

{% block body %}
<div>
    {% if messages %}
        {% for message in messages %}
            <p class="errornote">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if not preview %}
    <form action="" method="post" enctype="multipart/form-data" class="form-area" style="display: flex; justify-content: center; flex-direction: column;">
        <p><button onclick="window.location.href='{{ url('sample_csv') }}'" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Download Sample CSV') }}</button></p>
        {% csrf_token %}
        <table class="django-as-table">
            <tr>
                <th><label>{{ _('CSV File') }}</label></th>
                <td><input type="file" name="csv_file" accept=".csv" required></td>
            </tr>
        </table>
        <table class="ind-table ind-table-md">
            <tr><td style="float: left;">
            <td style="float: right;"><input type="submit" value="{{ _('Upload and Preview') }}" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn"></td></tr>
        </table>
    </form>
    {% else %}
    <p>{{ _('Preview of %d users to be imported:')|format(count) }}</p>

    <div class="ind-table-wrap">
    <table class="ind-table ind-table-md">
        <thead>
            <tr class="ind-tr-border">
                <th class="ind-th">{{ _('Username') }}</th>
                <th class="ind-th">{{ _('Email') }}</th>
                <th class="ind-th">{{ _('First Name') }}</th>
                <th class="ind-th">{{ _('Last Name') }}</th>
                <th class="ind-th">{{ _('Timezone') }}</th>
                <th class="ind-th">{{ _('Language') }}</th>
                <th class="ind-th">{{ _('Organizations') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="ind-tr-hover">
                <td class="ind-td">{{ user.username }}</td>
                <td class="ind-td">{{ user.email }}</td>
                <td class="ind-td">{{ user.first_name }}</td>
                <td class="ind-td">{{ user.last_name }}</td>
                <td class="ind-td">{{ user.timezone }}</td>
                <td class="ind-td">{{ user.language }}</td>
                <td class="ind-td">{{ user.organizations }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <form action="" method="post" class="form-area" style="display: flex; justify-content: center; flex-direction: column; margin-top: 16px;">
        {% csrf_token %}
        <input type="hidden" name="commit" value="true">
        <table class="ind-table ind-table-md">
            <tr><td style="float: left;">
                <button onclick="window.location.href='{{ url('import_users') }}'" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn">{{ _('Cancel') }}</button>
            </td>
            <td style="float: right;"><input type="submit" value="{{ _('Confirm Import') }}" class="ind-btn-ghost ind-flex-1 ind-flex-center-text ind-btn-orange brutalist-btn"></td></tr>
        </table>
    </form>
    {% endif %}
</div>
{% endblock %}